<div class="bordered-container">
  <pre class="">
        ,d8       ,a8888a,             ,d8
      ,d888     ,8P"'  `"Y8,         ,d888
    ,d8" 88    ,8P        Y8,      ,d8" 88
  ,d8"   88    88          88    ,d8"   88
,d8"     88    88          88  ,d8"     88
8888888888888  `8b        d8'  8888888888888
         88     `8ba,  ,ad8'            88
         88       "Y8888P"              88
                                              </pre>
  <p>La page demandée n'existe pas : <a routerLink="/">Accueil</a></p>
</div>
