@import "../../../styles";

$header-height: 65px;

#app-container {
  position: absolute;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  top: 0;
  bottom: $header-height;
  left: 0;
  width: 100%;
  max-width: 100%;

  &::selection {
    background-color: $accent-lighter;
  }

  .app-toolbar {
    height: $header-height;
    position: fixed;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;

    mat-icon {
      font-size: 20px;
    }

    h1 {
      cursor: pointer;
      font-family: 'Bitter', serif;
      font-size: 20px;
      line-height: 20px;
    }


    .menu-tabs-link {
      height: $header-height;

      a[mat-tab-link] {
        padding: 0 16px !important;
        min-width: 130px;

        &.mat-tab-label-active {
          opacity: 1 !important;
        }

        div.menu-tab-link {
          font-family: 'Bitter', serif;
          font-size: 17px;
          line-height: 17px;
          display: inline-flex;
          vertical-align: middle;
        }
      }
    }
  }

  .sidenav-menu {
    width: 250px;

    a {
      font-family: 'Anonymous Pro', monospace;
      font-weight: bold !important;
      color: black;

      &:visited {
        color: black;
      }
    }

    .hidden {
      display: none;
    }

    #copyright {
      width: 100%;
      position: absolute;
      text-align: center;
      bottom: 0;
      font-size: 14px;
      margin: 10px 0;
    }
  }

  .sidenav-container {
    flex: 1;
    top: $header-height;

    #app-content {
      margin: 0;
      padding: 0;
    }
  }
}
