<div id="app-container">
  <mat-toolbar class="app-toolbar" color="primary">
    <button mat-icon-button (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>
    <h1>ALFY - Le réseau.</h1>
    <span class="blank-filler"></span>
    <button mat-icon-button (click)="signout()"><mat-icon>exit_to_app</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav-menu" mode="over" [(opened)]="isMenuOpened">
      <mat-nav-list>
        <mat-list-item *ngFor="let link of list">
          <a matLine routerLink="">{{ link }}</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="app-content">
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
      <h1>YOLO</h1>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
