<div class="login-container" align="center">

  <mat-card color="accent">
    <div layout="column">
      <div flex>
        <mat-card-title>Formulaire d'inscription</mat-card-title>
      </div>

      <form [formGroup]="form" id="signin-form">
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="lastName" matInput placeholder="Nom" type="text">
          </mat-form-field>
        </div>
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="firstName" matInput placeholder="Prénom" type="text">
          </mat-form-field>
        </div>
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" matInput
                   formControlName="birthDay" [matDatepicker]="picker"
                   placeholder="Date de naissance">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year" [startAt]="calendarStartDate"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="username" matInput placeholder="Identifiant" type="text">
          </mat-form-field>
        </div>
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="email" matInput placeholder="Adresse mail" type="email">
          </mat-form-field>
        </div>
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="password" matInput placeholder="Mot de passe" type="password">
          </mat-form-field>
        </div>
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="passwordConfirm" matInput placeholder="Confirmation" type="password">
          </mat-form-field>
        </div>

        <div *ngIf="error != null" class="row errors-list" flex>
          <p class="mat-error">{{ error }}</p>
        </div>

        <div class="row action-buttons"  *ngIf="!loading" flex>
          <button mat-flat-button [autofocus]="form" type="submit" (click)="submitForm()" color="primary" [disabled]="!form.valid">S'incrire</button>
          <button mat-flat-button color="accent" routerLink="/signin" >Se connecter</button>
        </div>

        <div *ngIf="loading">
          <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
        </div>
      </form>
    </div>
  </mat-card>

</div>
