<div class="login-container" align="center"  style= "position: static;">

  <mat-card color="accent">
    <div layout="column" >
      <div flex>
        <mat-card-title>Formulaire d'inscription</mat-card-title>
      </div>

      <form [formGroup]="form" id="signin-form">
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="lastName" matInput placeholder="Nom" type="text">
          </mat-form-field>
        </div>
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="firstName" matInput placeholder="Prénom" type="text">
          </mat-form-field>
        </div>

        <div class="row" flex>
          <mat-form-field>
            <mat-label>Sexe</mat-label>
            <mat-select [(value)]="selected">
              <mat-option value="homme">Homme</mat-option>
              <mat-option value="femme">Femme</mat-option>
              <mat-option value="autre">Autre</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--<div class="row" flex>
          <mat-form-field>
            <app-pages-signup  mode="YEAR" label="Choose a year" [(ngModel)]="chosenYearDate" [max]="2020"></app-pages-signup><br>
            {{chosenYearDate}} 
          </mat-form-field> 
        </div> -->

        <!--
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" matInput 
                    formControlName="bacYear" [matDatepicker]="picker"
                    placeholder="Année d'obention du Bac" >
                    
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year" [startAt]="calendarStartDate"></mat-datepicker>
          </mat-form-field>
        </div>
        -->
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" matInput
                   formControlName="birthDay" [matDatepicker]="picker"
                   placeholder="Date de naissance">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year" [startAt]="calendarStartDate"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="username" matInput placeholder="Identifiant" type="text">
          </mat-form-field>
        </div>
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="email" matInput placeholder="Adresse mail" type="email">
          </mat-form-field>
        </div>
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="password" matInput placeholder="Mot de passe" type="password">
          </mat-form-field>
        </div>
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="passwordConfirm" matInput placeholder="Confirmation mot de passe ??" type="password">
          </mat-form-field>
        </div>

        <!-- <div class="row" flex>
          <mat-form-field>
            <mat-label>Pourquoi voulez-vous vous inscrire?</mat-label>
            <mat-select [(value)]="selected">
              <mat-option value="option1">Pour développer mon réseau</mat-option>
              <mat-option value="option2">Pour chercher des futurs partenaires</mat-option>
              <mat-option value="option3">Pour s’informer sur les dernières actualités de l’association</mat-option>
              <mat-option value="option4">Pour chercher des futurs partenaires</mat-option>
              <mat-option value="option5">Pour chercher des futurs stagiaires</mat-option>
              <mat-option value="option6">Pour trouver des opportunités de travail</mat-option>
              <mat-option value="option7">Pour retrouver des anciens élèves</mat-option>
              <mat-option value="option8">Autre</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

        <!--<div class="row" flex>
          <mat-form-field>
            <mat-label>Pourquoi voulez-vous vous inscrire?</mat-label>
            <mat-select placeholder="Pour" [formControl]="raisons" multiple>>
            
              <mat-select-trigger>
                {{raisons.value ? raisons.value[0] : ''}}
                <span *ngIf="raisons.value?.length > 1" class="signup-component">
                  (+{{raisons.value.length - 1}} {{raisons.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let topping of toppingList" [value]="raison">{{raison}}</mat-option>
              
            </mat-select>
          </mat-form-field>
        </div> -->

        <div>
          <mat-card-content>
            <section>
              <mat-checkbox name="checked_politique_conf" >J'accepte les conditions de la politique de fidélité</mat-checkbox>
            </section>
          </mat-card-content>
        </div>
        <div>
          <mat-card-content>
            <section>
              <mat-checkbox name="checked_newsletter" >Je souhaite m'inscrire à la Newsletter</mat-checkbox>
            </section>
          </mat-card-content>
        </div>

        <div *ngIf="error != null" class="row errors-list" flex>
          <p class="mat-error">{{ error }}</p>
        </div>

        <div class="row action-buttons"  *ngIf="!loading" flex>
          <!-- Bouton de retour juste un lien vers localhost, a changer par la suite -->
          <button mat-flat-button color="accent" onclick="location.href='http://localhost:4200/about';" >Retour</button>  
          <button mat-flat-button [autofocus]="form" type="submit" (click)="submitForm()" color="primary" [disabled]="!form.valid">Soumettre</button>
          <button mat-flat-button color="accent" routerLink="/signin" >Se connecter</button>
        </div>
       
        <div *ngIf="loading">
          <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
        </div>
      </form>
    </div>
  </mat-card>

</div>
