@import "../../../styles.scss";
@import "../../shared/sass/form";

@media only screen and (max-width: 500px) {

    .login-container {
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    
      mat-card {
        background-color: white;
        width: 450px;
        padding: 30px 10px;
    
        mat-form-field {
            width: 200px !important;    
        }
    
        .action-buttons {
          button {
            margin: 10px 70px !important;
          }
        }
      }
    
    }
}

.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-card {
    background-color: white;
    width: 450px;
    padding: 30px 10px;

    mat-form-field {
      width: 400px;    
    }
    /*mat-checkbox {
      margin-block-start: 100px;
      margin-block-end: 0em; 
      text-align: center;   
    }*/

    .action-buttons {
      button {
        margin: 10px 10px;
      }
    }
  }

}