<div class="login-container" align="center"  style= "position: static;">

  <mat-card color="accent" style = "border: 2px solid red ">
    <div layout="column" >
      <div flex>
        <mat-card-title>Formulaire d'inscription</mat-card-title>
      </div>

      <form [formGroup]="form" id="signin-form">
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="lastName" matInput placeholder="Nom" type="text">
          </mat-form-field>
        </div>
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="firstName" matInput placeholder="Prénom" type="text">
          </mat-form-field>
        </div>

        <div class="row" flex>
          <mat-form-field>
            <mat-label>Sexe</mat-label>
            <mat-select [(value)]="selected">
              <mat-option value="option1">Homme</mat-option>
              <mat-option value="option2">Femme</mat-option>
              <mat-option value="option3">Autre</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        

        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" matInput
                   formControlName="birthDay" [matDatepicker]="picker"
                   placeholder="Date de naissance">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year" [startAt]="calendarStartDate"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="username" matInput placeholder="Identifiant" type="text">
          </mat-form-field>
        </div>
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="email" matInput placeholder="Adresse mail" type="email">
          </mat-form-field>
        </div>
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="password" matInput placeholder="Mot de passe" type="password">
          </mat-form-field>
        </div>
        <div class="row" flex>
          <mat-form-field>
            <input (input)="checkValidity()" formControlName="passwordConfirm" matInput placeholder="Confirmation mot de passe ??" type="password">
          </mat-form-field>
        </div>

        <div class="row" flex>
          <mat-form-field>
            <mat-label>Pourquoi voulez-vous vous inscrire?</mat-label>
            <mat-select [(value)]="selected">
              <mat-option value="option1">Pour développer mon réseau</mat-option>
              <mat-option value="option2">Pour chercher des futurs partenaires</mat-option>
              <mat-option value="option3">Pour s’informer sur les dernières actualités de l’association</mat-option>
              <mat-option value="option4">Pour chercher des futurs partenaires</mat-option>
              <mat-option value="option5">Pour chercher des futurs stagiaires</mat-option>
              <mat-option value="option6">Pour trouver des opportunités de travail</mat-option>
              <mat-option value="option7">Pour retrouver des anciens élèves</mat-option>
              <mat-option value="option8">Autre</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-card-content>
            <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
          </mat-card-content>
        </div>
        <div *ngIf="error != null" class="row errors-list" flex>
          <p class="mat-error">{{ error }}</p>
        </div>

        <div class="row action-buttons"  *ngIf="!loading" flex>
          <!-- Bouton de retour juste un lien vers localhost, a changer par la suite -->
          <button mat-flat-button color="accent" onclick="location.href='http://localhost:4200/about';" >Retour</button>  
          <button mat-flat-button [autofocus]="form" type="submit" (click)="submitForm()" color="primary" [disabled]="!form.valid">Soumettre</button>
          <button mat-flat-button color="accent" routerLink="/signin" >Se connecter</button>
        </div>
       
        <div *ngIf="loading">
          <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
        </div>
      </form>
    </div>
  </mat-card>

</div>
