@import "../../../styles";
@import "../../shared/sass/bordered-container";

$item-height: 40px;

.blank-filler {
  flex: 1 0 auto;
}

.bordered-container {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
  }

  .results-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $accent;
    padding: 10px;
    font-size: 15px;
    line-height: 15px;
    border-bottom: 0.5px solid $accent-lighter;

    button:enabled {
      color: $accent-darker;
    }

    .nb-result, .pages-info {
      margin: 0 5px;
    }
  }

  .row {
    margin: 10px 0;

    .admin-buttons {
      text-align: center;
      flex: 1;

      button {
        margin-bottom: 15px;
      }

      h4 {
        margin: 10px 0;
      }
    }

    .search-container {
      display: flex;
      justify-content: center;
      width: 100%;
      flex: 2;

      mat-form-field {
        min-width: 250px;
        width: 50%;
        max-width: 600px;
        transition: width 0.3s ease-in-out;

        &:focus-within {
          transition: width 0.3s ease-in-out;
          width: 80%;
        }
      }
    }
  }

  mat-list {
    background: white;
    margin-top: 20px !important;
    padding: 20px 0;


    .student-item {
      padding: 5px 16px !important;

      .student-info {
        display: flex;
        flex-direction: row;
        height: $item-height;
        line-height: $item-height;
        font-size: $item-height / 2;

        &.student-avatar {
          border: 1px solid black;
          border-radius: 30px;
          overflow: hidden;
          margin: 0 20px;
          max-width: $item-height;
          justify-content: center;

          img {
            height: $item-height;
            width: auto;
          }
        }

        &.student-username {
          color: $accent;
          font-size: ($item-height / 2) - 4px;
          margin-left: 10px;
        }
      }

      &:hover {
        background-color: $accent-lighter;
      }
    }
  }

  .errors-container {
    font-size: 20px;
    text-align: center;
  }

  .paginator {
    border-top: 1px solid #eee;
  }
}
