@import "../../../styles";
@import "../../shared/sass/form";


.profile-container {
  $bg-color: white;

  background-color: $bg-color;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &.loading {
    background-color: transparent;
  }

  .cover-photo-buttons-group {
    text-align: -webkit-right;

    button {
      z-index: 3;
    }
  }

  .background-picture {
    margin-bottom: 3%;
    position: relative;

    .photo-buttons-group {
      z-index: 4;
    }

    #cover-picture-view {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .loading-cover {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: white;
      opacity: 0;
      transition: 0.3s ease-in;

      &.blur {
        opacity: 0.7 !important;
        filter: sepia(1);
      }
    }
  }

  .block {
    //display: flex;
    flex-direction: column;
    align-items: start;
    border: 1.5px solid $accent-lighter;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 10px;

    h3 {
      display: block;
      position: relative;
      top: -7.5px - 10px;
      left: 10px;
      background-color: $bg-color;
      text-align: left;
      margin: 0;
      padding: 0 10px;
      z-index: 4;
      color: $accent;
      font-size: 15px;
      line-height: 15px;
    }

    p.info {
      margin: 0 15px 10px;
      color: $accent-darker;
      font-size: 13px;
    }

    .security, .social {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }

    .row {
      flex-direction: row;
      align-items: start;
      justify-content: center;
    }

    .social {

      mat-form-field {
        width: 250px;
      }
    }
  }

  .personal-infos {
    flex-direction: column;
    width: 100%;

    app-profile-picture-element {
      justify-content: center;
      align-items: flex-end;
      display: flex;
      margin-bottom: 10px;
      width: 250px;
      height: 250px;
    }
  }

  .submission {
    border: none;
    margin-top: 0;
    align-items: center;
  }

  mat-progress-spinner {
    display: flex;
    justify-self: center;
    align-self: center;
    z-index: 4;
  }
}
