
<div fxLayout="column" class="container">
  <div class="pictures">
    <div class="backround-picture" style="background-image: url('/assets/img/profile-pic-backround.jpg')">
      <img class="profile-pic"  src="/assets/img/cedric.jpg"/>
    </div>

    <div fxLayout="row">
      <div class="title" fxFlex="77%">
        <h1>Cedric the beast</h1>
        <h2>M2 Informatique DL</h2>
      </div>
  
      <div class="social-media" fxFlex="auto">
        <a href="https://www.facebook.com/alfyaounde/"> <img src="/assets/img/about/logoFacebook.png"
          alt="Lien Facebook" width="42" height="42" hspace="10"> </a>
      <a href="https://www.instagram.com/asso_alfy/"> <img src="/assets/img/about/logoInstagram.png"
          alt="Lien Instagram" width="42" height="42" hspace="10"> </a>
      <a href="https://twitter.com/associationalfy"> <img src="/assets/img/about/logoTwitter.png"
          alt="Lien Twitter" width="42" height="42" hspace="10"> </a>
      <a href="mailto:alfy@gmail.com"> <img src="/assets/img/about/logoEmail.png" alt="Lien Email" width="42"
          height="42" hspace="10"> </a>
      </div>
    </div>

  </div>
  
  <div class="informations"  style="background-color: lightgray;">
    <p>kgkk</p>
  </div>

</div>