@import "../../../styles";

.container {
    margin-top: 4%;
    margin-bottom: 4%;
    max-width: 200%;

    .backround-picture {
        position: relative;
        height: 280px;
        margin-bottom: 4%;
        background-size: 110%;
    }

    .profile-pic {
        border-radius: 100%; 
        border-style: solid;
        border-color: white;
        border-width: 10px; 
        margin-top: 15%;   
        margin-left: 5%;
    }

    .title {
        margin-left: 5%;

        h1 {
            margin-top: 12%;
            font-size: 300%;
        }
        
        h2 {
            font-size: 200%;
            color: $accent-darker; 
            font-style: italic;
        }
    }

    .informations {
        $gutter: 30px;
        $border-width: 5px;
        $dot-diameter: 8px;
        margin-bottom: 5%;
        
        h2 {
            color: black; 
        }
        * {
          box-sizing: border-box;
        }
  
        .timeline {

          //ligne verticale
          //width: 100%;
          //max-width: 800px;
          position: relative;
          margin-top: 10px;
          margin-bottom: 20px;
  
          &:before {
            content: '';
            position: absolute;
            //top: -15px;
            left: calc( 34% - 3px );
            height: calc( 100%);
            bottom: 0;
            width: 4px;
            background: $accent-darker;
            z-index: 1;
          }
        }
  
        .entry {
          text-align: left;
          display: flex;
          align-items: baseline;
  
          .title {
            float: left;
            flex: 34%;
            padding-right: $gutter;
            text-align: right;
            position: relative;
            margin: 0 !important;
  
            &:before {
              content: '';
              position: absolute;
              width: $dot-diameter;
              height: $dot-diameter;
              border: $border-width solid $warn;
              background-color: #fff;
              border-radius:100%;
              top: 15%;
              right: -$dot-diameter - 0.5px;
              z-index: 99;
            }
          }
  
          .body {
            margin: 0 0 20px;
            float: right;
            width: 66%;
            padding-left: $gutter;            
          }
        }
      }
  
}
