
 <div fxLayout="row" fxLayoutAlign="center center" style="background-image: url('/assets/img/connection-background.jpg');">
  <div fxLayout="column" class="container" fxFlex="60" style="background-color: white;">
    <div class="pictures">
      <div class="backround-picture" style="background-image: url('/assets/img/logo-alfy-backround.jpg')">
        <img class="profile-pic"  src="/assets/img/cedric.jpg"/>
      </div>

      <div fxLayout="row">
        <div class="title" fxFlex="70%">
          <h1>Cedric the dynamic beast</h1>
          <h2>M2 Informatique DL</h2>
        </div>
    
        <div class="social-media" fxFlex="auto">
          <a href="https://www.facebook.com/alfyaounde/"> <img src="/assets/img/about/logoFacebook.png"
            alt="Lien Facebook" width="42" height="42" hspace="10"> </a>
        <a href="https://www.instagram.com/asso_alfy/"> <img src="/assets/img/about/logoInstagram.png"
            alt="Lien Instagram" width="42" height="42" hspace="10"> </a>
        <a href="https://twitter.com/associationalfy"> <img src="/assets/img/about/logoTwitter.png"
            alt="Lien Twitter" width="42" height="42" hspace="10"> </a>
        <a href="mailto:alfy@gmail.com"> <img src="/assets/img/about/logoEmail.png" alt="Lien Email" width="42"
            height="42" hspace="10"> </a>
        </div>
      </div>

    </div>
    
    <div class="informations"  style="background-color: lightgray;">


    <div flex="1" class="row alfy-actions" #actions>
      <div class="title">
        <h2>Notre histoire</h2>
      </div>
      <div class="content timeline">
        <div class="entry">
          <div class="title">
            <h3>Juillet 2018</h3>
            <p>L'été d'ALFY</p>
          </div>
          <div class="body">
            <p>Première édition de l'évènement estival "l'été d'ALFY".<br>
              Pour l'occasion nous avons été représenté dans les 3 villes différentes :</p>
            <ul>
              <li>Paris</li>
              <li>Yaoundé</li>
              <li>Montréal</li>
            </ul>
          </div>
        </div>
        <div class="entry">
          <div class="title">
            <h3>(Mois) 2018</h3>
            <p>PEPA</p>
          </div>
          <div class="body">
            <p>Etablissement d'une convention entre le lycée Fustel et l'association : le <b>PEPA</b>,
            Projet Educatif Parainage par les Anciens élèves bacheliers.</p>
          </div>
        </div>
        <div class="entry">
          <div class="title">
            <h3>Novembre 2017</h3>
            <p>Congrès ALFM</p>
          </div>
          <div class="body">
            <p>Participation au Congrès ALFM des Anciens des Lycées Français du Monde.</p>
            <ul>
              <li>Congrès organisé à l'occasion de la semaine des lycés français de l'étranger</li>
              <li>Egalement présent et actif au lycée Fustel à Yaoundé</li>
              <li>Lancement de la plateforme de l'<a href="https://alfm.fr/" target="_blank">ALFM</a></li>
            </ul>
          </div>
        </div>
        <div class="entry">
          <div class="title">
            <h3>Novembre 2016</h3>
            <p>Forum des métiers</p>
          </div>
          <div class="body">
            <p>Participation au forum des métiers organisé au Lycée Fustel.</p>
            <ul>
              <li>Un petit mot sur cette partie ?</li>
              <li>Ou peut-être deux ?</li>
            </ul>
          </div>
        </div>
        <div class="entry">
          <div class="title">
            <h3>Novembre 2016</h3>
            <p>Création de l'asso</p>
          </div>
          <div class="body">
            <p>Création de l'association des Anciens du Lycée Français de Yaoundé</p>
            <ul>
              <li>Un petit mot sur cette partie ?</li>
              <li>Ou peut-être deux ?</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> 