@media only screen and (min-width: 768px) {
  .bordered-container {
    margin: 10px 10% 0;
    background-color: white;
    height: calc( 100% - 10px - 2px );
    border: 1px solid #eee;
    border-radius: 10px;
  }
}
