<!-- Conteneur générale en Colonne-->
<div flexLayout="column" class="about-container">
  <!-- Carousel -->
  <div class="caroussel" >
    <!-- editable-element
    [hide]="backgroundImages.length == 0" (onEdit)="callback()"
                      [class.no-background]="backgroundImages.length == 0"-->
    <div class="main-title">
      <slideshow #slideshow *ngIf="backgroundImages.length > 0"
        [autoPlay]="true" [height]="" [imageUrls]="backgroundImages" [lazyLoad]="false"
        minHeight="500px" [showArrows]="true" arrowSize="30px" autoPlayInterval="8000">
      </slideshow>
      <div *ngIf="backgroundImages.length === 0" class="voile">
        <h1>Anciens du Lycée Fustel de Yaoundé</h1>
      </div>
    </div>
  </div>

  <!-- Deuxième conteneur en ligne -->
  <div class="low-mock-up" flexLayout="row-wrap">
    <!-- Agenda -->
    <div fxFlex="row-wrap" class="agenda" #actions>
      <h2 class="title">Agenda</h2>

      <div class="box">
        <mat-card class="event">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Réunion des anciens de l'ALFY</mat-card-title>
            <mat-card-subtitle>7 mars 2020</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Description de l'evenement, description de l'evenement, description de l'evenement, description de l'evenement.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button>Consulter l'evenement</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <br/>

      <div class="box">
        <mat-card class="event">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Réunion des anciens de l'ALFY</mat-card-title>
            <mat-card-subtitle>7 mars 2020</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Description de l'evenement, description de l'evenement, description de l'evenement, description de l'evenement.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button>Consulter l'evenement</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <br/>

      <div class="box">
        <mat-card class="event">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Réunion des anciens de l'ALFY</mat-card-title>
            <mat-card-subtitle>7 mars 2020</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Description de l'evenement, description de l'evenement, description de l'evenement, description de l'evenement.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button>Consulter l'evenement</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <br/>

      <div class="box">
        <mat-card class="event">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Réunion des anciens de l'ALFY</mat-card-title>
            <mat-card-subtitle>7 mars 2020</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Description de l'evenement, description de l'evenement, description de l'evenement, description de l'evenement.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button>Consulter l'evenement</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <br/>

      <div class="box">
        <mat-card class="event">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Réunion des anciens de l'ALFY</mat-card-title>
            <mat-card-subtitle>7 mars 2020</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Description de l'evenement, description de l'evenement, description de l'evenement, description de l'evenement.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button>Consulter l'evenement</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <br/>

      <div class="box">
        <mat-card class="event">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Réunion des anciens de l'ALFY</mat-card-title>
            <mat-card-subtitle>7 mars 2020</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Description de l'evenement, description de l'evenement, description de l'evenement, description de l'evenement.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button>Consulter l'evenement</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <br/>

    </div>

    <!-- Troisième conteneur en colonne -->
    <div fxLayout="column" fxFlex="auto"  class="low-right-mock-up">
      <!-- Présentation -->
      <div fxFlex="auto" class="presentation">
        <div class="title">
          <h2>Qui nous sommes</h2>
        </div>
        <div class="content" #whoAreWe>
          <img class="logo-alfy" align="right" src="/assets/img/logo-alfy.jpg"/>
          <p>L’association ALFY des <b>Anciens du Lycée Français de Yaoundé</b> rassemble toute personne de plus de 16 ans ayant
            été scolarisée au moins un an au Lycée Fustel de Coulanges de Yaoundé, tout membre du personnel administratif
            comme professoral et enfin tout parent d'élève.
          </p>
          <h4>C’est de la pensée que découle l’action.</h4>
          <p>L'ALFY est <b>née en septembre 2016</b> pensée dans le but premier d'aider la promotion de bacheliers dans leur orientation
            post-bac, en les mettant en contact avec des anciens élèves dont la formation scolaire et professionnelle s'inscrirait
            dans le cadre de leurs ambitions. Suite à une réflexion menée avec la proviseur du lycée en fonction en 2017, l'ALFY
            est <b>passée du statut de projet à celui d'association</b> dont la vie a été rythmée depuis par une collaboration restreinte
            avec le <a href="https://www.fustel-yaounde.net/">lycée Fustel de Coulanges</a>, <a href="https://alfm.fr/">l'association mondiale ALFM</a>, l'AEFE et d'autres associations locales telles que
            l'ALFD du lycée français de Dakar et la tenue de nombreuses rencontres sur différents sites géographiques.
          </p>
        </div>
      </div>
      <!-- Actualité -->
      <div fxFlex="auto" class="actualites">
        <div class="title" >
          <h2>Actualites</h2>
          <p>
            lalala
          </p>
        </div>
      </div>
      <!-- Partenaire -->
      <div class="partenaires">
        <div class="title" >
          <h2>Partenaires</h2>
        </div>

        <div class="logos">
          <div class="logo">
            <img src="/assets/img/logo-alfy.jpg" alt="Avatar" (click)="goToPartenaire()">
            <br/>
            <span> Partenaire 1</span>
          </div>
          <div>
            <img src="/assets/img/logo-alfy.jpg" alt="Avatar" (click)="goToPartenaire()">
            <br/>
            <span> Partenaire 2</span>
          </div>
          <div>
            <img src="/assets/img/logo-alfy.jpg" alt="Avatar" (click)="goToPartenaire()">
            <br/>
            <span> Partenaire 1</span>
          </div>
          <div>
            <img src="/assets/img/logo-alfy.jpg" alt="Avatar" (click)="goToPartenaire()">
            <br/>
            <span> Partenaire 3</span>
          </div>
          <div>
            <img src="/assets/img/logo-alfy.jpg" alt="Avatar" (click)="goToPartenaire()">
            <br/>
            <span> Partenaire 4</span>
          </div>
          <div>
            <img src="/assets/img/logo-alfy.jpg" alt="Avatar" (click)="goToPartenaire()">
            <br/>
            <span> Partenaire 5</span>
          </div>
          <div>
            <img src="/assets/img/logo-alfy.jpg" alt="Avatar" (click)="goToPartenaire()">
            <br/>
            <span> Partenaire 6</span>
          </div>
          <div>
            <img src="/assets/img/logo-alfy.jpg" alt="Avatar" (click)="goToPartenaire()">
            <br/>
            <span> Partenaire 7</span>
          </div>
          <div>
            <img src="/assets/img/logo-alfy.jpg" alt="Avatar" (click)="goToPartenaire()">
            <br/>
            <span> Partenaire 8</span>
          </div>
          <div>
            <img src="/assets/img/logo-alfy.jpg" alt="Avatar" (click)="goToPartenaire()">
            <br/>
            <span> Partenaire 9</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

