@import "../../../styles";

$padding: 11%;

@media only screen and (max-width: 500px) {

  .about-container .content{
    display: flex;
    flex-direction: column;

    .logo-alfy {
      max-height: 240px !important;
      width: auto;
      margin: 0 auto !important;
      top: 0 !important;
    }
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  background-color: $accent-darker;

  .caroussel {
    margin: 2%;
    border-radius: 3%;
  }
    
    &.alfy-presentation {
      background-color: white;
    }

    .low-mock-up {
      
      .agenda {
        max-height: 100vh;
        overflow-y : auto;
        background-color: white;
        margin: 2%;

        .title{
          color: black;
        }

        .event {
          border-radius: 20px;
          background-color: white;

          mat-card-actions {
            button{
              background-color: $primary-lighter;
            }
          }
        }

        .example-header-image {
          background-image: url("/assets/img/logo-alfy.jpg");
          background-size: cover;
        }

        .title{
          text-align: center;
        }

        .box {
          text-align: center;
          color: white;
          padding: 10px;
          width: 70%;
          margin: auto;
        }

        .test {
          font-size: 100;
        }
      }

      .low-right-mock-up{
        .presentation{
          margin: 2%;
          background-color: white;
          border-radius: 3%;

          .title{
            margin: 20px;}
          .content{
            margin: 30px;
            .logo-alfy {
              position: relative; // ou static 
              top: -25px;
              max-height: 200px;
              margin: 30px;
            }
          }
        }
        .actualites{
          background-color: white;
          margin: 2%;
          border-radius: 3%;

          .title{
            margin: 20px;}
        }
        .partenaires{
          margin: 2%;
          background-color: white;
          border-radius: 3%;

          .title{
            margin: 20px;}
          .logos{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            margin: 30px;

            img {
              position: relative; // ou static 
              max-height: 100px;
              border-radius: 50%;
              margin: 30px;
            }
          }
          
        }

        
      }
    }
    
}
