<!-- <mat-grid-list cols="4" rowHeight="200px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list> -->

<div flex="1" class="about-container">
  <div fxFlex="40%" class="caroussel">
    <editable-element class="main-title" [hide]="backgroundImages.length == 0" (onEdit)="callback()"
                      [class.no-background]="backgroundImages.length == 0">
      <slideshow #slideshow *ngIf="backgroundImages.length > 0"
        [autoPlay]="true" [height]="" [imageUrls]="backgroundImages" [lazyLoad]="false"
        minHeight="500px" [showArrows]="true" arrowSize="30px" autoPlayInterval="8000">
      </slideshow>
      <div *ngIf="backgroundImages.length === 0" class="voile">
        <h1>Anciens du Lycée Fustel de Yaoundé</h1>
      </div>
    </editable-element>
  </div>
</div> 
<div fxLayout="row" class="low-mock-up">
  <div fxFlex="30" class="agenda" #actions  style="background-color: lightgreen">
    <div class="title">
      <h2>Agenda</h2>
    </div>
    <div class="exemple">
      <div class="entry">
        <div class="title">
          <h3>Juillet 2018</h3>
        </div>
        <div class="body">
          <p>ce jour la on fait ca lala.<br>
            des mois des annees tititi</p>
        </div>
      </div>
    </div>
  </div>

    <div fxLayout="column" fxFlex="auto" class="low-right-mock-up">
      <div fxFlex="auto" class="presentation"  style="background-color: #DDBDF1;">
        <div class="title" >
          <h2>Qui nous sommes</h2>
          <p> lalalallalalala</p>
          <p> lalalallalalala</p>
          <p> lalalallalalala</p>
        </div>
      </div>
      <div fxFlex="auto" class="actualites"  style="background-color: lightskyblue;">
        <div class="title" >
          <h2>Actualites</h2>
        </div>
      </div>
      <div fxFlex="auto" class="partenaires"  style="background-color: lightpink">
        <div class="title" >
          <h2>Partenaires</h2>
        </div>
      </div>
    </div>
  
</div>

<!-- <mat-grid-list cols="4" >
  <div flex class="about-container">
    <div flex="1" class="row alfy-presentation"></div>
      <editable-element class="main-title" [hide]="backgroundImages.length == 0" (onEdit)="callback()"
          [class.no-background]="backgroundImages.length == 0">
        <slideshow #slideshow *ngIf="backgroundImages.length > 0"
        [autoPlay]="true" [height]="" [imageUrls]="backgroundImages" [lazyLoad]="false"
        minHeight="500px" [showArrows]="true" arrowSize="30px" autoPlayInterval="8000">
        </slideshow>
        <div *ngIf="backgroundImages.length === 0" class="voile">
          <h1>Anciens du Lycée Fustel de Yaoundé</h1>
        </div>
      </editable-element>
    </div>
    <mat-grid-tile colspan="1" rowspan="3" style="background-color: lightgreen;">
      <h2>Agenda</h2>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1" style="background-color: lightpink;">
      <h2> Presentation </h2>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1" style="background-color: #DDBDF1;">
      <h2>Actualites</h2>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1" style="background-color: lightgoldenrodyellow;">
      <h2>Partenaires</h2>
    </mat-grid-tile>
</mat-grid-list> -->
  