@import "../../../styles";

$padding: 11%;

@media only screen and (max-width: 500px) {

  .about-container .content{
    display: flex;
    flex-direction: column;

    .logo-alfy {
      max-height: 240px !important;
      width: auto;
      margin: 0 auto !important;
      top: 0 !important;
    }
  }
}

.about-container {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    padding: 0 $padding;
    align-content: center;
    flex-direction: column;

    .title {
      margin: 25px 0;

      h2 {
        margin: 0;
      }
    }

    .content {
      margin: 0 0 25px;
      line-height: 23px;
      font-size: 17px;
    }

    &.alfy-presentation {
      background-color: white;

      .main-title {
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex-flow: column;
        height: 400px;
        width: 100% * ( 1 / 0.78 );
        left: 11% * ( -1 / 0.78 );
        background: url(/assets/img/fustel.jpg) no-repeat 50% 50%;
        background-origin: border-box;
        background-size: cover;
        box-sizing: border-box;

        .voile {
          position: relative;
          height: 100%;
          display: flex;
          align-items: flex-end;
          padding-bottom: 20px;
          padding-right: 50%;
          width: 100%;
          font-weight: bolder;
          box-sizing: border-box;
          overflow: hidden;

          &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 0;
            width: 0;
            border-bottom: 330px solid rgba(255,255,255,0.7);
            border-right: 800px solid transparent;
            z-index: 0;
          }

          h1 {
            width: 100%;
            z-index: 5;
            min-width: 260px;
            font-size: 46px;
            line-height: 52px;
            font-family: Bitter, serif;
            margin: 0 20% 0 10%;
          }
        }
      }

      .logo-alfy {
        position: relative;
        top: -25px;
        max-height: 230px;
        margin: 0 5px 0 25px;
      }
    }

    &.alfy-history, &.alfy-contacts {
      background-color: $accent-darker;
      color: white;

      &:before, &:after {
        display: block;
        position: relative;
        content: "";
        width: 100% * (1 / 0.78);
        left: 11% * (-1 / 0.78);
        height: 24px;
        background: url(/assets/img/shadow.png) no-repeat top center;
        background-size: contain;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
        transform: rotate(180deg);
      }
    }

    &.alfy-actions {
      background-color: white;
    }

    &.alfy-contacts {

      .content {
        top: 24px;
        display: flex;
        flex-direction: row;

        .flex-rows {
          align-items: center;
          display: flex;

          mat-icon {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
