// Création d'un thème material principal

$main-theme-primary: mat-palette($mat-yellow, 600, 100, 800);
$main-theme-accent: mat-palette($mat-grey, 500, 200, 700);
$main-theme-warn: mat-palette($mat-deep-orange);


// Theme :
$main-theme: mat-light-theme(
    $main-theme-primary,
    $main-theme-accent,
    $main-theme-warn
);
