<div class="login-container" align="center">

<mat-card color="accent">
  <div layout="column">
    <div flex>
      <mat-card-title>Connectez vous</mat-card-title>
    </div>

    <form [formGroup]="form" id="signin-form">
      <div class="row" flex>
        <mat-form-field>
          <input matInput placeholder="Identifiant" type="text" name="username">
        </mat-form-field>
      </div>
      <div class="row" flex>
        <mat-form-field>
          <input matInput placeholder="Mot de passe" type="password" name="password">
        </mat-form-field>
      </div>
      <div class="row" flex>
        <button mat-raised-button color="primary" (click)="submitForm()">Connexion</button>
      </div>
    </form>

    <p *ngIf="error !== null">{{ error }}</p>
  </div>
</mat-card>

</div>
