<footer>
  <div>
    <div color="primary" class="row alfy-contacts" #contacts>
      <div class="content">
        <div style="display: flex;">
          <div class="column1">
            <h2 class="title">Nous contacter</h2>
            <div class="line-icon">
              <a href="https://www.facebook.com/alfyaounde/"> <img src="/assets/img/about/logoFacebook.png"
                  alt="Lien Facebook" width="42" height="42" hspace="10"> </a>
              <a href="https://www.instagram.com/asso_alfy/"> <img src="/assets/img/about/logoInstagram.png"
                  alt="Lien Instagram" width="42" height="42" hspace="10"> </a>
              <a href="https://twitter.com/associationalfy"> <img src="/assets/img/about/logoTwitter.png"
                  alt="Lien Twitter" width="42" height="42" hspace="10"> </a>
              <a href="mailto:alfy@gmail.com"> <img src="/assets/img/about/logoEmail.png" alt="Lien Email" width="42"
                  height="42" hspace="10"> </a>
            </div>
          </div>
          <div class="column2">
            <h2 class="title">Newsletter</h2>
            <div>
              <form>
                <mat-form-field>
                  <input matInput>
                </mat-form-field>
                <button mat-raised-button>OK</button>
              </form>
            </div>
          </div>
        </div>
        <div class="link-line">
          <!-- TODO : EMPTY LINKS -->
          <a href="" class="link">Mentions Légales</a>
          <!-- Link to sign up page -->
          <a href="" class="link">Nous Rejoindre</a>
          <a href="" class="link">Copyright</a>
        </div>
      </div>
    </div>
  </div>
</footer>
