<footer>
  <div>
    <div color="primary" class="row alfy-contacts" #contacts>
      <div class="content">
          <div class="column1">
            <h2>Nous contacter</h2>
            <div class="line-icon">
              <a href="https://www.facebook.com/alfyaounde/" > <img src="/assets/img/about/logoFacebook.png" alt="Lien Facebook" width="42" height="42" hspace="10"> </a>
              <a href="https://www.facebook.com/alfyaounde/" > <img src="/assets/img/about/logoInstagram.png" alt="Lien Instagram" width="42" height="42" hspace="10"> </a>
              <a href="https://www.facebook.com/alfyaounde/" > <img src="/assets/img/about/logoTwitter.png" alt="Lien Twitter" width="42" height="42" hspace="10"> </a>
              <a href="mailto:alfy@gmail.com" > <img src="/assets/img/about/logoEmail.png" alt="Lien Email" width="42" height="42" hspace="10"> </a>
            </div>
          </div>
          <div class="column2">
            <h2>Newsletter</h2>
            <div>
              <form>
                <mat-form-field>
                  <input matInput>
                </mat-form-field>
                <button mat-raised-button>OK</button>
              </form>
            </div>
          </div>
        </div>
        <div  style="display: block; text-align: center; font-size:22px;">
          <a href="" style ="padding-right: 50px;">Mentions Légales</a>
          <a href="" style ="padding-right: 50px;">Nous Rejoindre</a>
          <a href="" style ="padding-right: 50px;">Copyright</a>
        </div>
      </div>
  </div>
  
</footer>