@import "../../../styles.scss";

.alfy-contacts {
  @extend %container;

  .content {

    div {
      //display: flex;
      //flex: 1;
      min-width: 200px;
      justify-content: center;
      margin: 10px 0;
    }

    mat-icon {
      margin-right: 15px;
      height: 22px;
    }

    .flex-rows {
      display: flex;
      width: 100%;
      font-size: 22px;
      line-height: 22px;
      flex-wrap: wrap;
    }

    .line-icon {
      width: 100%;
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
      box-sizing: border-box;
    }

    .column1 {
      float: left;
      width: 80%;
    }

    .column2 {
      float: right;
      width: 20%;
    }


  }
}