.title {
    font-size: xx-large; 
    text-align: center;
}

.introduction {
    font-size: large;
    text-align: center;
}


.question {
    margin-left: 25px;
    font-style: italic;
    font-size: large;
    display: block;
}

.answer { 
    margin-left: 45px;
    font-size: large;
}

.category {
    font-size: larger;
    font-weight: bold;
}

.categories {
    margin: auto;
    width: 80%;
    padding: 10px;
    overflow:hidden
}

.validation {
    float: right;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-top: 25px;
}

mat-expansion-panel {
    width: 100%;
}

mat-expansion-panel-header{
    white-space: pre-line !important;
    height: auto !important;
}

@media only screen and (max-width: 500px) {
}

/*@media only screen and (max-width: 500px) {

    .login-container {
      position: static;
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    
      mat-card {
        background-color: white;
        width: 450px;
        padding: 30px 10px;
    
        mat-form-field {
            width: 200px !important;    
        }
          
        .action-buttons {
          button {
            margin: 10px 70px !important;
          }
        }
      }
    }

    //.checkboxText {
      //white-space: pre-wrap !important;
    //}
}

@media only screen and (min-width: 500px) {

  .login-container {
    position: static;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-card {
      background-color: white;
      width: 450px;
      padding: 30px 10px;

      mat-form-field {
        width: 400px;    
      }
      

      .action-buttons {
        button {
          margin: 10px 10px;
        }
      }
    }

  }
}



// Permet de régler la taille du label des checkbox
// adds breaks to the mat-checkboxes with long labels
::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}

// rather than center the checkbox, put the checkbox in the first line
::ng-deep .mat-checkbox-inner-container {
  margin-top: 3px !important;
}

mat-option{
  white-space: pre-line;
  line-height: 27px !important;
  height: auto !important;
}
*/