<h1 style="text-align: center; font-size: 40px;">FAQ</h1>


<p class="introduction">
  {{intro}}
</p>


<div fxLayoutAlign="center center">
  <form>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Rechercher une question">
    </mat-form-field>
  </form>
</div>

<div class="cat">
  <mat-expansion-panel *ngFor="let c of categories">
    <mat-expansion-panel-header>
      <p class="category">
        <!--Voir pour mettre le boutton après le text pour que ça reste le plus proche
          possible de l'affichage classique-->
        {{c.name}}
      </p>  <!-- Genre avant ou après le </p> -->

    </mat-expansion-panel-header>
    <div *ngFor = "let q of c.questions">
      <div *ngIf = "!questionOnEdit || !questionListOE.includes(q)">

        <p class="question">
          <button mat-icon-button (click)="questionDownward()">
            <mat-icon>
              keyboard_arrow_down
            </mat-icon>
          </button>
          <button mat-icon-button (click)="questionDownward()">
            <mat-icon>
              keyboard_arrow_up
            </mat-icon>
          </button>
          {{q.question}}
          <button mat-icon-button class="buttonEdit" (click)="questionEdit(q)">
            <mat-icon>
              edit
            </mat-icon>
          </button>
          <button mat-icon-button (click)="delete()">
            <mat-icon>
              delete_outline
            </mat-icon>
          </button>

        </p>

        <p class="answer">{{q.answer}}</p>
      </div>
      <div *ngIf = "questionOnEdit && questionListOE.includes(q)">


        <mat-form-field class="questionInput">
          <textarea matInput placeholder="Question">{{q.question}}</textarea>
        </mat-form-field>

        <mat-form-field class="answerInput">
          <textarea matInput placeholder="Réponse">{{q.answer}}</textarea>
        </mat-form-field>
        <div class="confirmOrCancel">
          <button mat-icon-button>
            <mat-icon>
              check
            </mat-icon>
          </button>
          <button mat-icon-button (click)="cancelMQ(q)">
            <mat-icon>
              close
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="cancelMQ(q)">
      <mat-icon>
        add
      </mat-icon>
    </button>
  </mat-expansion-panel>

  <button mat-raised-button class="validation" (click)="cancellation()">Annuler</button>
  <button mat-raised-button class="validation" (click)="submit()">Soumettre</button>

</div>

